<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Codenut</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanskr.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
    <%- include ../public/javascript/libs/codemirror/lib/codemirror.css %>
    </style>
    <style>
    <%- include ../public/javascript/libs/codemirror/theme/eclipse.css %>
    </style>
    <title><%=title%></title>
</head>
<body>
<header>
    <h1>Codenut</h1>
    <nav id="gnb" class="gnb">
        <ul>
            <li>
                <button type="button" class="gnb__button" @click="modal('setting', $event)" >Setting</button>
            </li>
            <li><button type="button" class="gnb__button">Help</button></li>
        </ul>
    </nav>
</header>
<main class="row">
    <div class="frame" id="Controller">
        <ul class="story">
            <li class="story__board">
                <h3 class="story__header">Navigator<span class="suffix"><button type="button" class="story__button story__next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button></span></h3>
                <div id="navigate" class="scroll">
                    <div class="scroll--xy">
                        <ul class="treemenu">
                            <li>
                                <div class="treemenu__action">
                                    <button type="button" class="treemenu__action__button treemenu__action__switch"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                                    <button type="button" class="treemenu__action__button treemenu__action__label" @click="view($event)">index</button>
                                    <button type="button" class="treemenu__action__button treemenu__action__add" @click="prompt($event)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    <div class="storage" style="display: none;">{"data-codenut-path":"/"}</div>
                                </div>
                                <ul class="sortable"><tree-item :model="model" v-for="model in model.children" :name="name" :key="model.nodeName"></tree-item></ul>
                            </li>
                        </ul>
                    </div>
                    <div class="toolbar">
                        <button type="button" class="toolbar__button toolbar__save">Save</button>
                        <button type="button" class="toolbar__button">All Compile</button>
                    </div>
                </div>
            </li>

            <li class="story__board">
                <h3 class="story__header"><span class="prefix"><button type="button" class="story__button story__prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></button></span>Structure</h3>
                <div id="structure" class="scroll">
                    <div class="scroll--xy">
                        <ul class="treemenu">
                            <li>
                                <div class="treemenu__action" data-codenut-path="/">
                                    <button type="button" class="treemenu__action__button treemenu__action__switch"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                                    <button type="button" class="treemenu__action__button treemenu__action__label">body</button>
                                    <button type="button" class="treemenu__action__button treemenu__action__add" @click="prompt($event)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                <ul class="sortable"><tree-item :model="model" v-for="model in model.children" :name="name" :key="model.nodeName"></tree-item></ul>
                            </li>
                        </ul>
                    </div>
                    <div class="toolbar">
                        <button type="button" class="toolbar__button toolbar__save">Save</button>
                        <button type="button" class="toolbar__button">All Compile</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="frame embed embed--loading" id="PC">
        <iframe src=""></iframe>
    </div>
    <div class="frame embed embed--loading" id="Mobile">
        <iframe src=""></iframe>
    </div>
</main>

<script type="text/x-template" id="tree-item-template">
    <li>
        <div class="treemenu__action">
            <button type="button" class="treemenu__action__button treemenu__action__switch"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <button type="button" class="treemenu__action__button treemenu__action__label" @click="view($event)">{{model.nodeName}}</button>
            <button type="button" class="treemenu__action__button treemenu__action__add" @click="prompt($event)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" class="treemenu__action__button treemenu__action__more" @click="modal(name, $event)"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
            <div class="storage" style="display: none;">{{getAttr()}}</div>
        </div>
        <ul><tree-item v-for="model in model.children" :model="model" :key="model.nodeName" :name="name"></tree-item></ul>
    </li>
</script>

<script type="text/x-template" id="tree-html-template">
    <li>
        <div class="treemenu__action">
            <button type="button" class="treemenu__action__button treemenu__action__switch"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <button type="button" class="treemenu__action__button treemenu__action__label">{{nodeName}}</button>
            <button type="button" class="treemenu__action__button treemenu__action__add"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" class="treemenu__action__button treemenu__action__more" ><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
            {{storage}}
        </div>
        <ul>{{children}}</ul>
    </li>
</script>
<script type="text/x-template" id="tree-xml-template">
    <{{nodeName}} {{attribute}}>{{children}}</{{nodeName}}>
</script>

<script type="text/x-template" id="setting-template">
    <modal>
        <div slot="header">Setting</div>
        <div slot="view" style="height: 100%">
            <textarea class="codemirror-textarea"></textarea>
        </div>
        <template slot="footer">
            <button type="button" class="btn btn-primary" @click="save">Save changes</button>
        </template>
    </modal>
</script>

<script type="text/x-template" id="modal-template">
<div class="modal">
    <div class="modal__wrap">
        <h5 class="modal__header"><slot name="header">Header</slot></h5>
        <div class="modal__content"><slot name="view">Content</slot></div>
        <div class="modal__footer">
            <button type="button" class="btn btn-secondary" @click="close">Close</button>
            <slot name="footer"></slot>
        </div>
    </div>
</div>
</script>

<script type="text/x-template" id="navigate-template">
    <modal>
        <div slot="header">Attribute</div>
        <div slot="view" style="height: 100%">
            <table class="table">
                <colgroup>
                    <col width="1%" />
                </colgroup>
                <thead>
                <tr>
                    <th class="align-middle"><input type="checkbox" name="checkbox-all" value=""></th>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="item in storage">
                        <td class="align-middle"><input type="checkbox" value="0" disabled="disabled"></td>
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    <tr v-for="item in attribute">
                        <td class="align-middle"><input type="checkbox" name="checkbox" value="0"></td>
                        <td><input type="text" class="form-control" name="key" v-model="item.key" value=""/></td>
                        <td><input type="text" class="form-control" name="value" v-model="item.value" value=""/></td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">
                        <button type="button" class="btn btn-success" @click="add">ADD</button>
                        <button type="button" class="btn btn-danger" @click="remove">REMOVE</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <template slot="footer">
            <button type="button" class="btn btn-primary" @click="save">Save changes</button>
        </template>
    </modal>
</script>


<script type="text/x-template" id="structure-template">
    <modal>
        <div slot="header">Attribute</div>
        <div slot="view" style="height: 100%">
            <table class="table">
                <colgroup>
                    <col width="1%" />
                </colgroup>
                <thead>
                <tr>
                    <th class="align-middle"><input type="checkbox" name="checkbox-all" value=""></th>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in storage">
                    <td class="align-middle"><input type="checkbox" value="0" disabled="disabled"></td>
                    <td>{{item.key}}</td>
                    <td>{{item.value}}</td>
                </tr>
                <tr v-for="item in attribute">
                    <td class="align-middle"><input type="checkbox" name="checkbox" value="0"></td>
                    <td><input type="text" class="form-control" name="key" v-model="item.key" value=""/></td>
                    <td><input type="text" class="form-control" name="value" v-model="item.value" value=""/></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">
                        <button type="button" class="btn btn-success" @click="add">ADD</button>
                        <button type="button" class="btn btn-danger" @click="remove">REMOVE</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <template slot="footer">
            <button type="button" class="btn btn-primary" @click="save">Save changes</button>
        </template>
    </modal>
</script>


<script id="attribute-template" type="text/x-handlebars-template">
    <table class="table">
        <colgroup>
            <col width="1%" />
        </colgroup>
        <thead>
            <tr>
                <th class="align-middle"><input type="checkbox" name="structure-all" value=""></th>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        {{#each readonly}}
            <tr>
                <td class="align-middle"><input type="checkbox" name="structure" value="0" disabled="disabled"></td>
                <td><input type="text" class="form-control" name="key" value="{{@key}}" readonly="readonly"/></td>
                <td><input type="text" class="form-control" name="value" value="{{this}}" readonly="readonly"/></td>
            </tr>
        {{/each}}
        {{#each modify}}
        <tr>
            <td class="align-middle"><input type="checkbox" name="structure" value="0"></td>
            <td><input type="text" class="form-control" name="key" value="{{@key}}"/></td>
            <td><input type="text" class="form-control" name="value" value="{{this}}"/></td>
        </tr>
        {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <button type="button" class="btn btn-success" data-action="add-structure">ADD</button>
                    <button type="button" class="btn btn-danger" data-action="remove-structure">REMOVE</button>
                </td>
            </tr>
        </tfoot>
    </table>
</script>
<script id="attribute-item-template" type="text/x-handlebars-template">
    <tr>
        <td class="align-middle"><input type="checkbox" name="{{name}}" value="0"></td>
        <td><input type="text" class="form-control" name="key" value=""/></td>
        <td><input type="text" class="form-control" name="value" value=""/></td>
    </tr>
</script>
<script>
    <%- include ../public/javascript/libs/jquery/dist/jquery.slim.min.js %>
    <%- include ../public/javascript/libs/vue/dist/vue.js %>
    <%- include ../public/javascript/libs/axios/dist/axios.min.js %>
    <%- include ../public/javascript/libs/gsap/src/minified/TweenMax.min.js %>
    <%- include ../public/javascript/libs/Split.js/split.min.js %>
    <%- include ../public/javascript/libs/jquery-sortable/source/js/jquery-sortable-min.js %>
    <%- include ../public/javascript/libs/handlebars/handlebars.min.js %>
</script>

<script>
  <%- include ../public/javascript/libs/codemirror/lib/codemirror.js %>
    <%- include ../public/javascript/libs/codemirror/addon/selection/selection-pointer.js %>
    <%- include ../public/javascript/libs/codemirror/mode/htmlmixed/htmlmixed.js %>
    <%- include ../public/javascript/libs/codemirror/mode/xml/xml.js %>
    <%- include ../public/javascript/libs/codemirror/mode/css/css.js %>
</script>

<script>
    <%- include ../public/javascript/codenut.js %>
    <%- include ../public/javascript/component/tree.js %>
    <%- include ../public/javascript/component/sortable.js %>
    <%- include ../public/javascript/component/modal.js %>
    <%- include ../public/javascript/nav.js %>
    <%- include ../public/javascript/gnb.js %>
    <%- include ../public/javascript/page.js %>
    <%- include ../public/javascript/splitjs.ctrl.js %>
    <%- include ../public/javascript/story.js %>
    <%- include ../public/javascript/setting.js %>
</script>
</body>
</html>